<div id="loading-screen">
    <div class="spinner-container">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading</span>
        </div>
        <div class="loading-text">Loading, please don't refresh the page</div>
    </div>
</div>