@{
    ViewData["Title"] = "Profile settings";
}

<!-- Container for the whole page -->
<div class="container" style="max-width: 1200px; margin-top: 20px;">

    <!-- Back button -->
    <div class="row">
        <div class="col-md-2">
            <a class="btn btn-secondary" asp-controller="Dashboard" asp-action="Index" style="margin-top: 10px;">
                &larr; Back
            </a>
        </div>
    </div>

    <!-- Main content area -->
    <div class="mt-5 row justify-content-center">
        <div class="section-content text-center" style="padding: 20px; background-color: #f8f9fa; border-radius: 5px; box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);">
            <h1 class="mb-5" style="font-weight: bold; color: #007bff;">Make changes to your fitness plan</h1>
            <ul class="mt-5 list-unstyled">
                <li class="mb-4">
                    <a class="btn btn-primary w-100" style="max-width: 400px;" asp-controller="PersonalInfo" asp-action="EditPersonalInfo">Edit Personal Information</a>
                </li>
                <li class="mb-4">
                    <a class="btn btn-primary w-100" style="max-width: 400px;" asp-controller="ActivityPlan" asp-action="EditActivityPlan">Edit Activity Plan</a>
                </li>
                <li class="mb-4">
                    <a class="btn btn-primary w-100" style="max-width: 400px;" asp-controller="NutritionPlan" asp-action="EditNutritionPlan">Edit Nutrition Plan</a>
                </li>
            </ul>
        </div>
    </div>
</div>
