@using AIFitnessTutor.Data.Enum
@using AIFitnessTutor.Helpers
@using AIFitnessTutor.ViewModels
@model EmailAndPasswordViewModel

@{
    ViewData["Title"] = "Sign up";
}

<div class="container" style="margin-top: 50px;">
    <div class="col-md-8 offset-md-2" style="background-color: #f9f9f9; padding: 30px; border-radius: 10px; box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);">
        <h4 class="text-center">Sign up for a new account</h4>

        @if (TempData["Error"] != null)
        {
            <div class="col-md-12 alert alert-danger">
                <span><b>Sorry!</b> - @TempData["Error"] </span>
            </div>
        }

        <div class="row">
            <div class="col-md-8 offset-md-2">
                <form asp-action="RegisterEmailAndPassword" onsubmit="toggleLoadingScreen(true)">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="tab-content mt-5" id="registerTabContent">
                        <div class="tab-pane fade show active" id="email-password" role="tabpanel" aria-labelledby="email-password-tab">
                            <h4 class="text-center">First enter your email address and create a password</h4>
                            <div class="form-group">
                                <label asp-for="EmailAddress" class="font-weight-bold control-label"></label>
                                <input type="email" asp-for="EmailAddress" class="form-control" />
                                <span asp-validation-for="EmailAddress" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Password" class="font-weight-bold control-label"></label>
                                <input asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ConfirmPassword" class="font-weight-bold control-label"></label>
                                <input asp-for="ConfirmPassword" class="form-control" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                            <button class="btn btn-primary btn-block" type="submit">Next</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <ul class="nav nav-pills d-flex justify-content-around mt-5">
            <li class="nav-item">
                <a class="border border-primary rounded-circle nav-link active" role="tab" aria-selected="true">1</a>
            </li>
            <li class="nav-item">
                <a class="border border-primary rounded-circle nav-link" role="tab" aria-selected="false">2</a>
            </li>
            <li class="nav-item">
                <a class="border border-primary rounded-circle nav-link" role="tab" aria-selected="false">3</a>
            </li>
            <li class="nav-item">
                <a class="border border-primary rounded-circle nav-link" role="tab" aria-selected="false">4</a>
            </li>
        </ul>
        <br />
        <a class="d-flex justify-content-center mt-3 link-underline-dark float-center" asp-controller="Account" asp-action="Login" style="text-decoration: none; color: #007bff;">Cancel</a>
    </div>
</div>
